.playerx {
    width: 100%;
    max-width: 1200px; /* Or any desired max width */
    height: 800px; /* Fixed height */
    margin: 0 auto; /* Center the container */
}

.bigplayer, .centerplayer {
    width: 100%;
    height: 100%;
}

.player-embed iframe {
    width: 100%;
    height: 100%;
}
