.playerx {
    width: 100%;
    height: auto; /* Allows for flexible height */
}

.bigplayer, .centerplayer {
    width: 100%;
    height: auto; /* Allow the containers to grow to fit the iframe */
}

.player-embed iframe {
    width: 100%;
    height: 800px; /* Adjust the iframe height as needed */
    max-width: 100%;
}
